.locations {   
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    background-color: white;
}

.location {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid goldenrod;
}

.title--location {
    padding: 1em;

}

.locaitonList {
    display: block;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
}

/* .locationCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.locationForm {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 24em;
    
} */