.animals {   
    background-color: white;
}

.animal {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid goldenrod;
}

.titleAndButton--animal {
    padding: 1em;
}

.titleAndButton--animal > h1 {
    margin: 0;
}

.animalList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.animalForm {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 24em;
}

.animalForm__title {
    align-self: center;
    font-size: 2em;
}

.animal__name { 
    font-size: 2em;
}