.customers {   
    background-color: white;
}

.customer {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid goldenrod;
}

.title--customer {
    padding: 1em;

}

.customerList {
    display: block;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
}

/* .customerForm {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 24em;
    
} */