
.header-nav {
    background-color: darkgray;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 1em;
}


.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.navbar__item {
    flex-basis: content;
    list-style-type: none;
    padding: 5px;
    margin: 0 10px;
    /* background-color: white; */
}
